<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar">
		</nav>
		<h3 th:text="'Pilot License Number : '+${pilot.licenseNumber}"></h3>
		<h3 th:text="'Name : '+${pilot.name}"></h3>
		<h3 th:text="'Fly Hour : '+${pilot.flyHour}"></h3>
		<h3 th:text="${pilot.flyHour} >= 100? 'Status : Pilot Senior' : 'Status : Pilot Junior'"></h3>
		<form th:action="@{/pilot/update/} + $(pilot.id)">
			<button type="submit">Update Pilot</button>
		</form>
		<form th:action="@{'pilot/delete/' + ${/pilot.id}}">
			<button type="submit">Delete Pilot</button>
		</form>
		
		<a th:href="@{/flight/add/}+${pilot.licenseNumber}">Add Flight</a>
		
		<div th:each="flight : ${listOfFlight}">
			<h3 th:text="${flight.id}"></h3>
			<h3 th:text="${flight.flightNumber}"></h3>
			<h3 th:text="${flight.origin}"></h3>
			<h3 th:text="${flight.destination}"></h3>
			<h3 th:text="${flight.time}"></h3>
		</div>
	</body>
</html>